.navbar {
    background-color: var(--Acolor);
    padding-inline: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed!important;
    z-index: 10;
}
ul.list-group.list-group-horizontal{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
    align-self: center;

}
button.btn {
    background-color: var(--Bcolor);
    border-color: var(--Bcolor);
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    border-width: 3px;
    align-self: flex-end;
}
button.btn:hover {
    background-color: white;
    border-color: white;
    color: var(--Extcolor);
}

button.btn.btn-primary {
    background-color: var(--Acolor);
    border-color: var(--Acolor);
}
button.btn.btn-primary:hover {
    background-color: #61a6ab;
    border-color: #61a6ab;
    color: white
}
.modal-header {
    background-color: var(--Acolor);
}
div#navbarSupportedContent {
    text-align: center;
}